@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.bg {
    background: url('https://images.unsplash.com/photo-1513072064285-240f87fa81e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWFra2FoJTIwYWwlMjBoYXJhbXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: rgb(0, 0, 0);
}